<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mini-Pedia</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">Mini-Pedia</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <!-- <li id="home"><a><button name="page" value="home" type="submit">HOME</button></a></li>
          <li id="about"><a><button name="page" value="about" type="submit">ABOUT US</button></a></li>
          <li id="contact"><a><button name="page" value="contact" type="submit">CONTACT US</button></a></li> -->
          <li id="home"><a href="/articles">HOME</a></li>
          <li id="about"><a href="/articles">ABOUT US</a></li>
          <li id="contact"><a href="/articles">CONTACT</a></li>
        </div>
  </head>
  <body>
